
    <!--Esta linea es para el header de todas las paginas con este template-->
    {% include "header.html" %}
    
    <!-- sccion de la informacion basica -->
    {% include "basic_info.html" %}

    <!-- sccion de la que trata -->
    {% include "que_trata.html" %}

    <!-- sccion de la con que entidades trabaja -->
    {% include "entidades.html" %}

    <!-- sccion del contacto -->
    {% include "contacto.html" %}

    <!-- sccion de como llegar -->
    {% include "como_llegar.html" %}
    
    <!--Esta linea es para el footer de todas las paginas con este template-->
    {% include "footer.html" %}
