{% load staticfiles %}

<section id="basic-info">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 green-light">
				<div class="profile-pic">
					<img src="{% static "img/patricia.jpg" %}" alt="Patricia Vicuña Reveiz"/>
				</div>
			</div>
			<div class="col-sm-6 green-dark">
				<div class="text-space">
					<div class="profile-title">
						Patricia Vicuña Reveiz
					</div>
					<div class="profile-item">
						Pregrado en Psicología Universidad del Valle
					</div>
					<div class="profile-item">
						Postgrado en trastornos en el desarrollo y el aprendizaje – Universidad de Miami
					</div>
					<div class="profile-item">
						Maestría en Neuropsicología – Universidad de San Buenaventura Medellín
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
