{% load staticfiles %}
<section id="contacto">
	<div class="container">
		<div class="big-title">
			CONTACTO
			<div class="separador"></div>
		</div>
		<div class="row" style="margin-top: 80px;">
			<div class="col-sm-7">
				<div class="top-name">
					Horario de atención:
				</div>
				<div class="bot-name" style="margin-bottom: 30px;">
					Lunes a Viernes : 8:00 a.m. - 1:00 p.m.
				</div>
				<div class="top-name">
					Horario de atención:
				</div>
				<div class="bot-name">
					667 73 53
				</div>
				<div class="bot-name" style="margin-bottom: 30px;">
					312 783 83 42
				</div>
				<div class="top-name">
					Dirección:
				</div>
				<div class="bot-name">
					Av2 C Norte # 24 N-120
				</div>
				<div class="bot-name">
					Consultorio 505
				</div>
			</div>
			<div class="col-sm-5">
				<div class="contacto-img">
					<img src="{% static "img/centro.png" %}" alt="Centro Médico Hipocrates"/>
				</div>
				<div class="top-name" style="text-align: center;">
					Centro Medico Hipócrates
				</div>
				<div class="bot-name" style="text-align: center;">
					Av2 C Norte # 24 N-120
				</div>
			</div>
		</div>
	</div>
</section>

<div class="separador-seccion"></div>