{% load staticfiles %}
<section id="entidades">
	<div class="container">
		<div class="big-title-white">
			¿CON QUÉ ENTIDADES TRABAJA?
			<div class="separador"></div>
		</div>
	</div>
	<div class="entidades-container">

		<div class="entidad">
			<div class="entidad-img">
				<img src="{% static "img/sos.png" %}" alt=""/>
			</div>
			<div class="entidad-tel">
				Tel: 489 86 86
			</div>
		</div><!-- end entidad -->

		<div class="entidad">
			<div class="entidad-img">
				<img src="{% static "img/colmena.png" %}" alt=""/>
			</div>
			<div class="entidad-tel">
				Tel: 403 64 00
			</div>
		</div><!-- end entidad -->

		<div class="entidad">
			<div class="entidad-img">
				<img src="{% static "img/colmedica.png" %}" alt=""/>
			</div>
			<div class="entidad-tel">
				Tel: 486 86 86
			</div>
		</div><!-- end entidad -->

		<div class="entidad">
			<div class="entidad-img">
				<img src="{% static "img/particular.png" %}" alt=""/>
			</div>
			<div class="entidad-tel">
				Particular
			</div>
		</div><!-- end entidad -->

	</div><!-- end entidades-container -->
</section>