{% load staticfiles %}
		<footer>
			<div class="claro">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="title-footer">
								MAPA DEL SITIO
							</div>
							<div class="separador-footer"></div>
							<div class="col-sm-6" style="border-left: 1px solid #fff;">
								<div class="footer-item">
									<a href="#basic-info">
										Quién soy
									</a>
								</div>
								<div class="footer-item">
									<a href="#trata">
										Qué trata
									</a>
								</div>
								<div class="footer-item">
									<a href="#entidades">
										Con qué entidades trabaja
									</a>
								</div>
							</div>
							<div class="col-sm-6" style="border-left: 1px solid #fff;">
								<div class="footer-item">
									<a href="#contacto">
										Contacto
									</a>
								</div>
								<div class="footer-item">
									<a href="#llegar">
										Cómo llegar
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6" >
							<div class="title-footer">
								SÍGUEME EN
							</div>
							<div class="separador-footer"></div>
							<div class="footer-item" style="text-align: center;">
								<a href="#">
									<i class="fa fa-linkedin-square" aria-hidden="true"></i>
									LinkedIn
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="obscuro">
				<div class="container">
					<div class="love">
						Desarrollado con  <i class="fa fa-heart" aria-hidden="true"></i>  por <a href="#">One Wing</a>
					</div>
				</div>
			</div>
		</footer>

		<!-- Jquery 1.11.3  -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<!-- Javascript stylesheet -->
		<script type="text/javascript" href="{% static "js/script.js" %}"></script>
	    <!-- AQUI TODO EL HTML DEL HEADER (SIN INCLUIR EL TAG <header>)-->


	</body>
</html>
