{% load staticfiles %}
<section id="trata">
	<div class="container">
		<div class="big-title">
			¿QUÉ TRATA?
			<div class="separador"></div>
		</div>
		<div class="card-container">
			<div class="card">
				<div class="card-img-naranja">
					<img src="{% static "img/avion.png" %}" alt=""/>
				</div>
				<div class="card-title">
					Evaluación Neuropsicológica
				</div>
				<div class="card-description">
					zsdfgserhstrtjh
				</div>
				<div class="decoracion-naranja"></div>
			</div><!-- end card -->

			<div class="card">
				<div class="card-img-verde">
					<img src="{% static "img/avion.png" %}" alt=""/>
				</div>
				<div class="card-title">
					Reahbilitación Neuropsicológica
				</div>
				<div class="card-description">
					zsdfgserhstrtjh
				</div>
				<div class="decoracion-verde"></div>
			</div><!-- end card -->

			<div class="card">
				<div class="card-img-azul">
					<img src="{% static "img/avion.png" %}" alt=""/>
				</div>
				<div class="card-title">
					Talleres de estimulación cognitiva y Memoria
				</div>
				<div class="card-description">
					zsdfgserhstrtjh
				</div>
				<div class="decoracion-azul"></div>
			</div><!-- end card -->

			<div class="card">
				<div class="card-img-morado">
					<img src="{% static "img/avion.png" %}" alt=""/>
				</div>
				<div class="card-title">
					Aplicación de pruebas de personalidad
				</div>
				<div class="card-description">
					zsdfgserhstrtjh
				</div>
				<div class="decoracion-morado"></div>
			</div><!-- end card -->

			<div class="card">
				<div class="card-img-amarillo">
					<img src="{% static "img/avion.png" %}" alt=""/>
				</div>
				<div class="card-title">
					Consulta<br>psicológica
				</div>
				<div class="card-description">
					zsdfgserhstrtjh
				</div>
				<div class="decoracion-amarillo"></div>
			</div><!-- end card -->

		</div><!-- end card-container -->
	</div>
</section>